[submodule "omu.py"]
	path = omu.py
	url = https://github.com/OMUCHAT/omu.py.git
[submodule "omuchat.py"]
	path = omuchat.py
	url = https://github.com/OMUCHAT/omuchat.py.git
[submodule "server"]
	path = server
	url = https://github.com/OMUCHAT/server.git
[submodule "provider"]
	path = provider
	url = https://github.com/OMUCHAT/provider.git